<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-energized" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">How To</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <div class="row" data-comp-id="row.1"
                style="padding: 0px 12px; margin: 4px 0px;">
                <div class="col" data-comp-id="column.1">
                    <div class="" data-comp-id="text.1"
                        style="font-size: 16px; color: rgb(51, 51, 51); font-weight: bold;">Purpose of the App</div>
                    <div class="" data-comp-id="text.2"
                        style="color: rgb(51, 51, 51); line-height: 18px; margin: 4px 0px 0px;">To
                        demonstrate how to leverage the device’s biometric fingerprint sensors (Touch
                        ID).
                    </div>
                </div>
            </div>
            <div class="row" data-comp-id="row.2"
                style="padding: 0px 12px; margin: 4px 0px;">
                <div class="col" data-comp-id="column.2">
                    <div class="" data-comp-id="text.3"
                        style="font-size: 16px; color: rgb(51, 51, 51); font-weight: bold;">Prerequisites</div>
                    <div class="" data-comp-id="text.4"
                        style="color: rgb(102, 102, 102); line-height: 18px; margin: 4px 0px 0px;"></div>
                    <div class="row" data-comp-id="row.3" style="margin: 0px;">
                        <div class="col" data-comp-id="column.3" style="max-width: 30px;">
                            <div data-comp-id="text.5" style="color: rgb(102, 102, 102); line-height: 18px;">•</div>
                        </div>
                        <div class="col" data-comp-id="column.4">
                            <div class="" data-comp-id="text.6"
                                style="color: rgb(51, 51, 51); line-height: 18px;">SmartUX Studio installed and setup.
                            </div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.4" style="margin: 0px;">
                        <div class="col" data-comp-id="column.5" style="max-width: 30px;">
                            <div data-comp-id="text.7" style="color: rgb(102, 102, 102); line-height: 18px;">•</div>
                        </div>
                        <div class="col" data-comp-id="column.6">
                            <div class="" data-comp-id="text.8"
                                style="color: rgb(51, 51, 51); line-height: 18px;">Physical
                                device with a fingerprint sensor, and fingerprint identification setup on
                                device.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-comp-id="row.5"
                style="padding: 0px 12px; margin: 4px 0px;">
                <div class="col" data-comp-id="column.7">
                    <div class="" data-comp-id="text.9"
                        style="font-size: 16px; color: rgb(51, 51, 51); font-weight: bold;">Steps to run the Test app</div>
                    <div class="" data-comp-id="text.10"
                        style="color: rgb(51, 51, 51); line-height: 18px; margin: 4px 0px 0px;"></div>
                    <div class="row" data-comp-id="row.6">
                        <div class="col" data-comp-id="column.8" style="max-width: 32px;">
                            <div class="" data-comp-id="text.11"
                                style="color: rgb(51, 51, 51); line-height: 18px;">1.</div>
                        </div>
                        <div class="col" data-comp-id="column.9">
                            <div class="" data-comp-id="text.12"
                                style="color: rgb(51, 51, 51); line-height: 18px;">Install on a physical device</div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.7">
                        <div class="col" data-comp-id="column.10" style="max-width: 32px;">
                            <div class="" data-comp-id="text.13"
                                style="color: rgb(51, 51, 51); line-height: 18px;">2.</div>
                        </div>
                        <div class="col" data-comp-id="column.11">
                            <div class="" data-comp-id="text.14"
                                style="color: rgb(51, 51, 51); line-height: 18px;">Open the App
                            </div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.8">
                        <div class="col" data-comp-id="column.12" style="max-width: 32px;">
                            <div class="" data-comp-id="text.15"
                                style="color: rgb(51, 51, 51); line-height: 18px;">3.</div>
                        </div>
                        <div class="col" data-comp-id="column.13">
                            <div class="" data-comp-id="text.16"
                                style="color: rgb(51, 51, 51); line-height: 18px;">
                                <strong>Login</strong>
                                with any username and password.
                            </div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.9">
                        <div class="col" data-comp-id="column.14" style="max-width: 32px;">
                            <div class="" data-comp-id="text.17"
                                style="color: rgb(51, 51, 51); line-height: 18px;">4.</div>
                        </div>
                        <div class="col" data-comp-id="column.15">
                            <div class="" data-comp-id="text.18"
                                style="color: rgb(51, 51, 51); line-height: 18px;">Log out.
                            </div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.10">
                        <div class="col" data-comp-id="column.16" style="max-width: 32px;">
                            <div class="" data-comp-id="text.19"
                                style="color: rgb(51, 51, 51); line-height: 18px;">5.</div>
                        </div>
                        <div class="col" data-comp-id="column.17">
                            <div class="" data-comp-id="text.20"
                                style="color: rgb(51, 51, 51); line-height: 18px;">Select the
                                <strong>TouchID</strong>
                                link.
                            </div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.11">
                        <div class="col" data-comp-id="column.18" style="max-width: 32px;">
                            <div class="" data-comp-id="text.21"
                                style="color: rgb(51, 51, 51); line-height: 18px;">6.</div>
                        </div>
                        <div class="col" data-comp-id="column.19">
                            <div class="" data-comp-id="text.22"
                                style="color: rgb(51, 51, 51); line-height: 18px;">Re-authenticate using your fingerprint
                            </div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.12">
                        <div class="col" data-comp-id="column.20" style="max-width: 32px;">
                            <div class="" data-comp-id="text.23"
                                style="color: rgb(51, 51, 51); line-height: 18px;">7.</div>
                        </div>
                        <div class="col" data-comp-id="column.21">
                            <div class="" data-comp-id="text.24"
                                style="color: rgb(51, 51, 51); line-height: 18px;">Use the
                                <strong>Reset</strong>
                                option to start over again.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>